# Ignore node_modules directory
node_modules/
SQLQuery1.sql
DB Proposal.pdf
# Ignore specific files
.env
## envoirnment variables for reference
###
##DB_USER
##DB_PASSWORD
##DB_SERVER=
##DB_DATABASE
##DB_PORT
##PORT

config.json 

# Ignore all log files
*.log

# Ignore build directories
/dist
/build